<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.9"/>
  </properties>
  <scm class="hudson.plugins.repo.RepoScm" plugin="repo@1.10.7">
    <manifestRepositoryUrl>https://github.com/YorickColeu/manifest</manifestRepositoryUrl>
    <jobs>0</jobs>
    <depth>0</depth>
    <currentBranch>true</currentBranch>
    <resetFirst>false</resetFirst>
    <quiet>true</quiet>
    <forceSync>false</forceSync>
    <trace>false</trace>
    <showAllChanges>false</showAllChanges>
    <noTags>false</noTags>
    <ignoreProjects class="linked-hash-set">
      <string></string>
    </ignoreProjects>
  </scm>
  <assignedNode>jenkins_builder</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd dummyC_Project/tests &amp;&amp; bats --tap dummyC_Project/tests/test.bats &gt; ../../${JOB_BASE_NAME}.tap</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.tap4j.plugin.TapPublisher plugin="tap@2.3">
      <testResults>${JOB_BASE_NAME}.tap</testResults>
      <failIfNoResults>true</failIfNoResults>
      <failedTestsMarkBuildAsFailure>false</failedTestsMarkBuildAsFailure>
      <outputTapToConsole>true</outputTapToConsole>
      <enableSubtests>false</enableSubtests>
      <discardOldReports>false</discardOldReports>
      <todoIsFailure>false</todoIsFailure>
      <includeCommentDiagnostics>false</includeCommentDiagnostics>
      <validateNumberOfTests>false</validateNumberOfTests>
      <planRequired>true</planRequired>
      <verbose>true</verbose>
      <showOnlyFailures>false</showOnlyFailures>
      <stripSingleParents>false</stripSingleParents>
      <flattenTapResult>false</flattenTapResult>
      <removeYamlIfCorrupted>false</removeYamlIfCorrupted>
      <skipIfBuildNotOk>false</skipIfBuildNotOk>
    </org.tap4j.plugin.TapPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>${JOB_BASE_NAME}.tap</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>
